*.suo
*.user
*.sln.docstates
.vs/
[Aa]pp.config
[Ww]eb.config

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

CajaVirtual/.vs/CajaVirtual/v16/.suo
CajaVirtual/.vs/CajaVirtual/v16/.suo
*.v2
CajaVirtual/.vs/CajaVirtual/v16/.suo
